@import "variables";
@import "mixins";

* {
  @include overal;
}
body {
  background-color: $bg-color;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 3rem;
  background-color: $primary-color;
  .logo-name {
    @include textStyle(1.5rem, bold, $secondary-color);
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar {
      margin-right: 40px;
      .items {
        display: flex;
        align-items: center;
        list-style: none;
        .link {
          padding: 8px 10px;
          text-decoration: none;
          @include textStyle(1rem, bold, $secondary-color);
          transition: all 0.2s ease-in;
          &:hover {
            color: $text-color;
          }
        }
      }
    }

    .logo-image {
      @include box(50px, 50px);
      border-radius: 50%;
      background-color: $primary-color;
    }
  }

  .hamberger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    span {
      @include box(25px, 5px);
      border-radius: 3px;
      background-color: $secondary-color;
      margin-top: 3px;
    }
  }
}
.content {
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
  .aside {
    @include bodyStyle;
    @include box(30%,450px);
    margin-right: 20px;

    div {
      background-color: $primary-color;
      padding: 30px 10px;
      margin-top: 10px;
      text-align: center;
      border-radius: 10px;

      a {
        @include textStyle(1.5rem, bold, $secondary-color);
        text-decoration: none;
        &:hover {
          color: $text-color;
        }
      }
    }
  }
  .main {
    @include bodyStyle;
    @include box(70%,450px);
    align-items: center;

    img {
      @include box(250px, 150px);
      border-radius: 10px;
    }
    h1 {
      margin-top: 10px;
      @include textStyle(3rem, bold, $primary-color);
    }
    p {
      margin-top: 20px;
      @include textStyle(1.5rem, bold, $dark-color);
    }
  }
}

@include media(M) {
  .header {
    .hamberger-menu {
      display: flex;
    }
    .navigation {
      display: none;
    }
  }
}
