@import "variables";
@import "mixins";

* {
  @include overal;
}
body {
  background-color: $bg-color;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 3rem;
  background-color: $primary-color;
  .logo-name {
    @include textStyle(1.5rem, bold, $secondary-color);
  }
  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar {
      margin-right: 40px;
      .items {
        display: flex;
        align-items: center;
        list-style: none;
        .link {
          padding: 8px 10px;
          text-decoration: none;
          @include textStyle(1rem, bold, $secondary-color);
          transition: all 0.2s ease-in;
          &:hover {
            color: $text-color;
          }
        }
      }
    }

    .logo-image {
      @include box(50px, 50px);
      border-radius: 50%;
      background-color: $primary-color;
    }
  }

  .hamberger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    span {
      @include box(25px, 5px);
      border-radius: 3px;
      background-color: $secondary-color;
      margin-top: 3px;
    }
  }
}
.content {
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
  .aside {
    @include bodyStyle;
    @include box(30%, 450px);
    margin-right: 20px;
    padding: 1rem;

    div {
      background-color: $primary-color;
      margin-top: 10px;
      text-align: center;
      line-height: 90px;
      border-radius: 10px;
      @include box(100%, 110px);

      a {
        @include textStyle(1.5rem, bold, $secondary-color);
        text-decoration: none;
        &:hover {
          color: $text-color;
        }
      }
    }
  }
  .main {
    @include bodyStyle;
    @include box(70%, 450px);
    justify-content: center;
    padding: 1rem;

    img {
      @include box(250px, 150px);
    }
    h1 {
      margin-top: 10px;
      @include textStyle(4rem, bold, $primary-color);
    }
    p {
      margin-top: 20px;
      @include textStyle(2rem, bold, $dark-color);
    }
  }
}
.cards {
  padding: 2rem 3rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  .card {
    @include bodyStyle;
    @include box(100%, inital);
    img {
      width: 100%;
    }
    .description {
      padding: 1rem;

      p {
        @include textStyle(1rem, 400, $dark-color);
        text-align: justify;
        line-height: 1.2rem;
      }
      span {
        display: inline-block;
        @include textStyle(1rem, bold, $primary-color);
        margin-top: 15px;
      }
    }
  }
}
footer {
  display: flex;
  align-items: center;
  padding: 2rem 3rem;
  background-color: $primary-color;
  .summery {
    width: 50%;
    margin-right: 20px;
    p {
      @include textStyle(1.5rem, 200, $secondary-color);
      text-align: justify;
    }
  }
  li {
    list-style: none;
  }
  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
  a {
    display: inline-block;
    text-decoration: none;
    @include textStyle(1.5rem, 200, $secondary-color);
    padding: 10px;
    transition: all 0.2s ease-in;
    &:hover {
      color: $dark-color;
    }
  }
}

@include media(M) {
  .header {
    .hamberger-menu {
      display: flex;
    }
    .navigation {
      display: none;
    }
  }
  .content {
    flex-direction: column-reverse;
    padding: 1rem;
    .main {
      @include box(100%, 350px);
      h1 {
        @include textStyle(2rem, bold, $primary-color);
      }
      p {
        @include textStyle(1rem, bold, $dark-color);
      }
    }
    .aside {
      @include box(100%, 450px);
      margin: 1rem 0 0;
    }
  }

  .cards {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    padding: 2rem 1rem;
    .card {
      img {
        height: 350px;
      }
    }
  }
}
@include media(L) {
  .cards {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    padding: 2rem 1rem;
  }
}
